{% extends "base.html" %}

{% block content %}

<div class="section 1">
  <div class="heading">
    <h2>Your Dashboard</h2>
  </div>
  <div class="paragraph">
    <p>Track representatives, search legislation, and stay informed.</p>
  </div>
</div>
<div class="tablist">
  <ul class="tabs">
    <li><a href="{% url 'dashboard' %}?tab=overview">Overview</a></li>
    <li><a href="{% url 'dashboard' %}?tab=myreps">My Reps</a></li>
    <li><a href="{% url 'dashboard' %}?tab=mybills">My Bills</a></li>
    <li><a href="{% url 'dashboard' %}?tab=search">Search</a></li>
    <li><a href="{% url 'dashboard' %}?tab=setting">Setting</a></li>
  </ul>
</div>


{% endblock content %}
