{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}

<section class="login-section">
  <h2 class="heading">Welcome Back</h2>
  <p class="paragraph">Log in to access your dashboard.</p>

  <form method="post">

    {% csrf_token %}
      
    {{ form.non_field_errors }}

    {# email as username #}
    <div class="form-group">
      {{ form.email.label_tag }} 
      {{ form.email }}
      {% if form.email.errors %}
        <div class="error">{{ form.email.errors }}</div>
      {% endif %}
    </div>

    {# password #}
    <div class="form-group">
      {{ form.password.label_tag }} 
      {{ form.password }}
      {% if form.password.errors %}
        <div class="error">{{ form.password.errors }}</div>
      {% endif %}
    </div>

    <button type="submit">Log In</button>

    <p class="register-link">
      Don't have an account? <a href="{% url 'registration' %}">Register here</a>.
    </p>

  </form>

  <p class="back_home">
    <a href="{% url 'homepage' %}">← Back to Home</a>.
  </p>
  

</section>

{% endblock content %}
